
{% extends "layout.html" %}
{% block content %}
	<div class="container">
		<div class="columns is-gapless">
			<div class="column is-full ">
				<div class="panel is-full">
					<div class="field is-grouped">
						<p class="control">
							<button class="button" onclick="uploadTaskInnsAsFile()">
							  Загрузить...
							</button>
						</p>
						<p class="control">
							<button class="button" onclick="downloadTaskInnsAsFile()">
							  Выгрузить...
							</button>
						</p>
					</div>	
				</div>
			</div>
		</div>
		<div class="columns">
			<div class="column is-full ">
			</div>			
		</div>
	</div>
{% endblock %}