{% if tasks|length > 0 %}
    <table class="table is-fullwidth is-striped is-bordered is-hoverable">
        <thead>
            <tr>
                <th>id</th>
                <th>Задача</th>
                <th>Статус</th>
                <th><p class="control has-text-centered">Операции</p></th>
            </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
                <tr>
                    <th>{{ task.task.id_}}</th>
                    <td>{{ task.task.dt }}</td>
                    <td>{{ task.task.state }}</td>
                    <td>
						<p class="control has-text-centered">
							<button class="button" onclick="downloadTaskInnsAsFile({{ task.task.id_ }})">>></button>
						</p>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{%  else %}
    <p>Все задачи на получение ИНН выполнены</p>
{% endif %}