{% if len(tasks)>0 %}
    <table class="table">
        <thead>
            <tr>
                <th>id</th>
                <th>Задача</th>
                <th>Статус</th>
            </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
                <tr>
                    <th></th>
                    <td>

                    </td>
                    <td>
                        
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{%  else %}
<p>Все задачи на получение ИНН выполнены</p>
{% end if %}